/*返回头部*/
header.return_header { display: block; padding: 0 0.25rem; 
	border-bottom: 1px solid #dbdbdb; line-height: 1.2rem;
	background-color: #fff; align-items: center; }
header.return_header>a { display: inline-block;width: 8%; font-size: .8rem;
	 color: #d10310; text-align: center; vertical-align: middle;  }
header.return_header>p { vertical-align: middle; 
	 display: inline-block;  width: 82%; text-align: center;
	color: #3c3c3c; font-size: 0.46rem; }
header.return_header i.return_header_icon { display: inline-block; width: 0.8rem;
 	height: 0.8rem; background-size: 100%; vertical-align: -0.22rem; 
 	margin-right: 0.3125rem; }
header.sale_car_header i.return_header_icon { 
		background-image: url(../images/base/sale_car.png); }

/*表单公共样式*/

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #888; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #888;opacity:1;
}

input:-ms-input-placeholder{
    color: #888;opacity:1;
}

input::-webkit-input-placeholder{
    color: #888;opacity:1;
}
div.filter_brand { }
header.custom_header i { background-image: url(../images/base/custom.png); }
section.custom_bg { background: url(../images/banner/custom_bg.png) no-repeat;
				background-size: 100%; }
section.form_con { padding: 0 0.4688rem; text-align: center; }
section.form_con h2 { margin-bottom: 0.2rem; }
div.form_con_inner { padding: 0.32rem; background-color: #fff; }
div.form_row { display: flex; display: -webkit-flex; border-radius: 0.125rem;
	margin-bottom: 0.34rem; position: relative; width: 100%; /*overflow: hidden;*/ }		
div.form_row input { display: inline-block; height: 1rem; text-indent: 0.4688rem;
		font-size: 14px; border: 1px solid #a2a2a2; -webkit-appearance: none; 
	    border-radius: 0.125rem; }
div.form_row p.error_text { position: absolute; top: 0.31rem; right: 1.4rem;
		color: #d10310; display: none; }
div.form_row p.mileage_error_text { right: .5rem; }		
[data-dpr="2"] div.form_row input, [data-dpr="2"] div.input_full textarea,
[data-dpr="2"] div.form_row select, [data-dpr="2"] .form_box button{ font-size: 28px; }
[data-dpr="3"] div.form_row input, [data-dpr="3"] div.input_full textarea,
[data-dpr="3"] div.form_row select, [data-dpr="3"] .form_box button { font-size: 42px; }					
div.input_full input, div.input_full textarea { width: 100%; font-size: 14px; 
		border: 1px solid #a2a2a2; text-indent: 0.4688rem; line-height: 0.5625rem;
		color: #333; } 
div.input_full textarea { text-indent: 0; border-radius: 0.125rem;
 padding: 0.1562rem 0 0 0.4688rem; }		
div.input_half { position: relative; justify-content: space-between; }
div.input_half>i { position: absolute; right: 0.3125rem; top: 0.35rem;
		color: #666; }
div.input_half select>option { display: inline-block; width: 100%; font-size: 14px; }
[data-dpr="2"]  div.input_half select>option { font-size: 28px; }
[data-dpr="3"]  div.input_half select>option { font-size: 42px; }
div.input_half input { width: 47%; }
button.get_code { width: 47%; background-color: #d10310; color: #fff;
		border: 1px solid #d10310; }
p.code_error_text { position: absolute; padding-left: 0.4688rem; text-indent: 0; margin: 0; }
button.form_commit { width: 100%; height: 1rem; color: #fff; border-radius: 0.125rem;
	background-color: #d10310; margin-top: 0.1562rem; font-size: 16px; }
div.form_box { background-color: #fff; }
/*寻求合作*/
header.return_header i { background-image: url(../images/base/coopera_s.png);  }
section.common_banner>img { width: 100%; height: 4.6875rem; }
/*提交成功*/
div.ask_box_success { display: none; }
div.ask_box_success>img { width: 100%; }
div._success_desc { color: #666; }
div.ask_box_success>p { margin-bottom: 0.1562rem; font-size: 0.4375rem; }	
.ask_box_success div.return_link>a { line-height: .7rem; color: #d10310; margin: 0 0.1562rem; }
/*二手车买卖*/
ul.buy_sell_tit { overflow: hidden; margin-bottom: 0.4688rem; }
ul.buy_sell_tit>li { width: 50%; float: left; text-align: center; }
ul.buy_sell_tit>li>a { display: block; width: 60%; margin: auto;
		 line-height: .8rem; color: #333; font-size: 14px; }
ul.buy_sell_tit>li>a.current { border-bottom: 3px solid #d10310; }		 
[data-dpr="2"] ul.buy_sell_tit>li>a { font-size: 28px; }
[data-dpr="3"] ul.buy_sell_tit>li>a { font-size: 42px; }
div.form_inner_con { position: relative; width: 100%; }
div.form_inner_con>div { position: absolute; width: 100%; }
i.must_icon { width: 0; height: 0; position: absolute;
    top: 1px; left: 1px; border-right: 0.2rem solid transparent;
    border-top: 0.2rem solid #d10310; }
/*默认下拉框*/
div.mask { position: fixed; top: 0; bottom: 0; right: 0; left: 0; 
		background-color: rgba(0, 0, 0, 0.1); display: none; }
/*div.fake_input { width: 100%; text-indent: 0.4688rem; line-height: 1rem;  
	border: 1px solid #a2a2a2; height: 1rem; font-size: 14px; color: #888;
	text-align: left; border-radius: 0.125rem; }*/
[data-dpr="2"] div.fake_input { font-size: 28px; }
[data-dpr="3"] div.fake_input { font-size: 42px; }
i.triangle_iocn { position: absolute; right: 10%; top: 46%; 
		border-right: 0.1562rem solid transparent; border-left: 0.1562rem solid transparent; 
		border-top: 0.1562rem solid #222; }			
div.budget_price { border-radius: 0.125rem; }
select.budget_price_select { position: absolute; right: 0; left: 0; top: 0; bottom: 0; 
	width: 100%; text-indent: 0.4688rem; color: #888; color: #888; border: none;
	appearance: button; -moz-appearance: button; -webkit-appearance: button;
	background-color: transparent; border-radius: 0.125rem; outline: none;
	font-size: 14px; }
select>option { font-size: 14px; }	
/*[data-dpr="2"]	select>option { font-size: 28px; }	
[data-dpr="3"] select>option { font-size: 42px; }*/	
select.budget_price_select.current{ color: #333; }		

/*选择品牌*/
section.car_brank, section.brank_set, section.car_set_detail {
	overflow: auto; display: none; background-color: #fff; }
/*热门品牌*/
div.home_menu { padding-top: 0.5625rem; }
ul.h_menu_main { display: -webkit-flex; /* Safari */ display: flex; }
ul.h_menu_main>li.h_menu_item { width: 25%; text-align: center; margin-bottom: 0.4688rem; }
li.h_menu_item>a { color: #495056; font-size: 14px; line-height: 24px; }
[data-dpr="2"] li.h_menu_item>a { font-size: 28px; line-height: 48px; }
[data-dpr="3"] li.h_menu_item>a { font-size: 50px; line-height: 72px; }
ul.h_menu_brand { display: block; overflow: hidden; margin-bottom: 0.1562rem; 
		}
ul.h_menu_brand li.h_menu_item { float: left; margin: 0.2rem 0; }
ul.h_menu_brand li.h_menu_item>a { display: block;  }
ul.h_menu_brand li.h_menu_item>a>i { display: block; width: 0.9375rem; height: 0.9375rem;  
	background-repeat: no-repeat; background-size: 0.9375rem 0.9375rem;
    -webkit-background-size: 0.9375rem 0.9375rem; margin: 0 auto; }    
li.h_menu_item>a.dazhong>i { background-image: url(../images/brand/dazhong.png); }
li.h_menu_item>a.buick>i { background-image: url(../images/brand/buick.png); }
li.h_menu_item>a.richan>i { background-image: url(../images/brand/richan.png); }
li.h_menu_item>a.bmw>i { background-image: url(../images/brand/bmw.png); }
li.h_menu_item>a.xfl>i { background-image: url(../images/brand/xfl.png); }
li.h_menu_item>a.ford>i { background-image: url(../images/brand/ford.png); }
li.h_menu_item>a.benz>i { background-image: url(../images/brand/benz.png); }
li.h_menu_item>a.honda>i { background-image: url(../images/brand/honda.png); }

/*品牌子系列*/
section.brank_set { display: none; }
h2.current_brand, h2._set_detail { padding: 0 .9rem; font-weight: 500; line-height: .9rem;
	color: #333; font-size: 14px; }
[data-dpr="2"] h2.current_brand,
[data-dpr="2"] h2._set_detail { font-size: 28px; }
[data-dpr="3"] h2.current_brand,
[data-dpr="3"] h2._set_detail { font-size: 42px; }
a.set_detail_tit { text-overflow: ellipsis; overflow:hidden; white-space: nowrap; }
/*车款式*/
section.car_set_detail { display: none; }
/*点透遮罩*/
div.click_mask { position: fixed; top: 0; bottom: 0; left: 0; right: 0;
		background-color: transparent; z-index: 9; display: none; }
























